[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.4.4"

[packages]
pdfminer.six = "20200726"
mypy = "*"
tabula-py = "*"
camelot-py = "*"
pypdf2 = "*"
wand = "*"
opencv-python = "*"
pdf2image = "*"
langdetect = "*"
iso-639 = "*"
pytesseract = "*"
yattag = "*"

[requires]
python_version = "3.8"
