[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.4.4"
mypy = "*"
pipenv-setup = "*"

[packages]
fuzzywuzzy = "*"
tabula-py = "*"
camelot-py = "*"
pypdf2 = "*"
wand = "*"
opencv-python = "*"
pdf2image = "*"
langdetect = "*"
iso-639 = "*"
pytesseract = "==0.3.4"
yattag = "*"
python-levenshtein = "==0.12.0"
pdfminer-six = "==20200726"

[requires]
python_version = ">=3.6"
